﻿<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="app.home">
                        <img src="../Images/SharePointPlex-logo.png" />
                    </a>
                </div>

                <div class="collapse navbar-collapse">
                    <h4 class="navbar-text">List/Library Manager</h4>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="app.about">About</a></li>
                        <li><a ui-sref="app.contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>