﻿<div class="row">
    <div class="col-md-12">
        <h1>Mailing Address</h1>
        <p>
            <b>Phone no:</b> +8801713458492 (CEO)
        </p>
        <p>
            <b>Email:</b> raisul@brainstation-23.com (CEO)
        </p>
        <p>
            <b>Location:</b> 8th floor, Plot#2, Amtoli, Bir Uttam AK Khandakar Rd Mohakhali Commercial Area, Dhaka-1212, Bangladesh
        </p>
        <p>
            <b>Web site:</b> <a href="http://sharepointplex.com" target="_blank">sharepointplex.com</a>
        </p>
    </div>
</div>